@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-60: #FF538060;
$primary-mid-faint: #fff2f7;

.stl-select-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    color: #23263b;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg width="14" height="24" xmlns="http://www.w3.org/2000/svg"><g stroke="%23777aaf" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M13 7L7 1 1 7M1 17l6 6 6-6"/></g></svg>'), linear-gradient(-180deg, #fff, #fcfcfd);
    background-position: right 1rem center, 0 0;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 1px solid #777aaf;
    box-shadow: 0 1px #23263b0d;
    transition: all .1s ease-in-out;
}


.search-result-hit-detail em {
    background: $primary-60;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
}