@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #FF5380;

$content-bg-color: #fffafc;

.bg-content {
    background-color: $content-bg-color;
}

.text-primary {
    color: $primary-color;
}